In [2]:
### Mark Down Cell

In [7]:
#Importing packages
import yfinance as yf
import pandas as pd
import schedule
import time 
import ollama
from datetime import datetime, timedelta

In [11]:
#Fetching historical data for Apple (AAPL) and DOW Jones (DJI) for yesterday (1-minute intervals)
stock = yf.Ticker ("AAPL")
dow_jones = yf.Ticker("^DJI")
data = stock.history(period="1d", interval = "1m")
dow_data= dow_jones.history(period="1d", interval = "1m")
data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2024-11-08 09:30:00-05:00,227.139999,227.759995,227.139999,227.639999,1084464,0.25,0.0
2024-11-08 09:31:00-05:00,227.639999,228.169998,227.470001,228.140106,237988,0.00,0.0
2024-11-08 09:32:00-05:00,228.179993,228.459396,228.080002,228.450104,221266,0.00,0.0
2024-11-08 09:33:00-05:00,228.460007,228.660004,228.380005,228.380005,192971,0.00,0.0
2024-11-08 09:34:00-05:00,228.369995,228.380005,228.000000,228.125000,155260,0.00,0.0